{{> organisms/header}}
{{> organisms/leftnav}}
{{> organisms/breadnav}}
<section class="main-content">
	<div class="inside menued">
		<!-- <div class="row">
			<div class="col-sm-6">
				{{> molecules/panel title="Identities / Natural Persons" subtitle="5 results found"}}
			</div>
			<div class="col-sm-6">
				{{> molecules/panel title="Upcoming Reminders" subtitle="3 reminders"}}
			</div>
		</div> -->
		<div class="cp-panel tabbed">
			<ul class="nav nav-tabs">
	  			<li role="presentation" class="active"><a href="#">Home</a></li>
	  			<li role="presentation"><a href="#">Profile</a></li>
	  			<li role="presentation"><a href="#">Messages</a></li>
			</ul>
			<div class="tab-content cp-panel">
			    <div role="tabpanel" class="tab-pane active" id="home">
			    	<div class="cp-panel-header">
			    		<div class="input-group iconed">
							<input type="text" class="form-control" placeholder="search">
							<i class="icon-search"></i>
						</div>
			    	</div>
			    	<div class="cp-panel-content"></div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="profile">...</div>
			    <div role="tabpanel" class="tab-pane" id="messages">...</div>
			    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<div class="cp-panel notes-panel">
					<div class="cp-panel-header">
						<div class="row">
							<div class="col-xs-6">
								<h3>Notes</h3>
							</div>
							<div class="col-xs-6 cp-actions">
								<div class="cp-btn pull-right">
									<span class="icon-plus"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="cp-panel-content">
						<div class="note">
							<div class="note-title">Note 1</div>
							<p class="note-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium urna in purus venenatis, eget placerat quam convallis. Cras hendrerit sem eros, a tincidunt dolor sollicitudin ac. Vivamus eget porta dui. 
							</p>
							<div class="note-meta">by Rui Molefas, 01/12/2015</div>
						</div>
						<div class="note">
							<div class="note-title">Note 1</div>
							<p class="note-content">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pretium urna in purus venenatis, eget placerat quam convallis. Cras hendrerit sem eros, a tincidunt dolor sollicitudin ac. Vivamus eget porta dui. 
							</p>
							<div class="note-meta">by Rui Molefas, 01/12/2015</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="cp-panel">
					<div class="cp-panel-header">
						<h3>Attachments</h3>
					</div>
					<div class="cp-panel-content">
						<div class="attachment">
							<div class="row">
								<span class="icon-image"></span>
								<div class="col-xs-3">
									<a class="att-name" href="#">idcard.jpg</a>
								</div>
								<div class="col-xs-4">
									<select class="chosen-select">
										<option value="1">Value</option>
									</select>
								</div>
								<div class="col-xs-5">
									<div class="att-meta date">Added: 21/12/2015</div>
									<div class="att-meta">Metadata text, free to add.</div>
								</div>
							</div>
						</div>
						<div class="attachment">
							<div class="row">
								<span class="icon-image"></span>
								<div class="col-xs-3">
									<a class="att-name" href="#">idcard.jpg</a>
								</div>
								<div class="col-xs-4">
									<select class="chosen-select">
										<option value="1">Value</option>
									</select>
								</div>
								<div class="col-xs-5">
									<div class="att-meta date">Added: 21/12/2015</div>
									<div class="att-meta">Metadata text, free to add.</div>
								</div>
							</div>
						</div>
						<div class="drop-zone">Click or drop items to upload</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<div class="context-menu person-menu">
		<div class="context-menu-header">
			<div class="title">Evelyn De Both</div>
			<div class="context-tags">
				<span>Tags:</span>
				<span class="tags">important, CEO</span>
			</div>
		</div>
		<div class="context-menu-content">
			<div class="category">
				<div class="category-title">General coordinates</div>
				<div class="category-field">
					<div class="category-field-name">Title:</div>
					<div class="category-field-value">Duchess</div>	
				</div>
				<div class="category-field">
					<div class="category-field-name">First name:</div>
					<div class="category-field-value">Evelyn</div>	
				</div>
				<div class="category-field">
					<div class="category-field-name">Middle names:</div>
					<div class="category-field-value">Lumpy Space</div>	
				</div>
				<div class="category-field">
					<div class="category-field-name">Last name:</div>
					<div class="category-field-value">De Both</div>	
				</div>
				<div class="category-field">
					<div class="category-field-name">Gender:</div>
					<div class="category-field-value">Female</div>	
				</div>
				<div class="category-field">
					<div class="category-field-name">Language:</div>
					<div class="category-field-value">Dutch</div>	
				</div>
				<div class="category-field">
					<div class="category-field-name">Nationality:</div>
					<div class="category-field-value">Belgium</div>	
				</div>
				<div class="category-field">
					<div class="category-field-name">VAT:</div>
					<div class="category-field-value">BE000000000</div>	
				</div>

			</div>

		</div>
	</div>
</section>
      