html{
	height: 100%;

	body {
		font-size: 14px;
		font-family: Open Sans;
		height: 100%; 
		margin: 0px; 
		padding: 0px;
		background-color: #f1f1f1;
		color: #333;
		position: relative;
		overflow: hidden;
	}
}

table {
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

a {
	color: $green;
	text-decoration: underline;

	&:hover {

	}
}

img {
	max-width: 100%;
}

.table {
	margin-bottom: 0;
}

.muted {
	color: #999;
}

.main-content {
	padding-left: 90px;
    height: 100%;
    padding-top: 60px;
    position: absolute;
    top: 0;
    width: 100%;

	> div {
		// overflow: scroll;
    	height: 100%;
    	position: relative;

		.widgets-wrapper {
			padding: 20px;

			.widgets-container > .row {
				margin-bottom: 20px;
			}
		}
	}

	.menued {
		overflow: hidden;

		.widgets-wrapper {
			overflow: auto;
			height: 100%;
			padding-left: 300px;
		}
	}
}

.context-menu {
	position: absolute;
	background-color: #fff;
	top: 0;
	left: 0px;
	height: 100%;
	// min-height: 100%;
	border-right: 1px solid $grey;
	-webkit-transition: left .25s;
	transition: left .25s;

	.inside-menu {
		height: 100%;
		position: relative;
	}

	.context-menu-header {
		padding: 20px 30px;
		border-bottom: 1px solid #eee;
		position: relative;

		.identity-logo {
			margin-bottom: 20px;
		}

		.title {
			font-size: 1.3em;
			font-weight: 600;
		}

		.context-tags {
			font-size: .9em;
			color: #999;
			margin-top: 10px;
		}

		.toggler {
			padding: 8px 5px;
		    border-top-right-radius: 4px;
		    border-bottom-right-radius: 4px;
		    border: 1px solid #bcbbc6;
		    position: absolute;
		    left: -1px;
		    top: 14px;
		    color: #bbb;

		    &:hover {
		    	cursor: pointer;
		    }

			.icon-chevron-right {
				display: none;
			}
		}
	}

	.context-menu-content {
		padding: 20px 30px;

		.category {
			font-size: .9em;
			margin-bottom: 15px;
			transition: margin-bottom .25s;

			.category-title {
				position: relative;
				font-size: .8em;
				color: #999;
				margin-bottom: 15px;

				&:after {
					font-family: 'icomoon' !important;
					content: "\e909";
					position: absolute;
					right: 0;
				}

				&:hover {
					cursor: pointer;
				}
			}

			.category-content {
				display: none;

				.category-field {
					position: relative;
					min-height: 30px;

					.category-field-name {
						width: 50%;
						position: absolute;
						font-weight: bold;
					}
					.category-field-value {
						padding-left: 50%;
						white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
					}
					.category-field-label {
						font-weight: bold;
						margin-bottom: 5px;
					}
				}
			}

			&.expanded {
				margin-bottom: 30px;
				//transition: margin-bottom .25s;

				.category-title {
					&:after {
						content: "\e90a";
					}
				}
			}			
		}
	}

	&.slide-menu {
		width: 560px;
	 	left: -280px;
	 	z-index: 95;

	 	.left-menu {
	 		position: absolute;
	 		top: 0;
	 		width: 50%;
	 		left: 0;
	 		height: 100%;
    		overflow-y: auto;
	 	}

	 	.right-menu {
	 		position: absolute;
	 		top: 0;
	 		width: 50%;
	 		left: 50%;
			height: 100%;
    		overflow-y: auto;
	 	}

	 	&.toggle {
	 		left: 0;
	 	}
	}
}

.cp-toggleable  {
	.cp-toggleable-content {
		display: none;
	}
}

.list-wrapper {
	.empty-list {
		display: none;
	}

	&.empty {
		.empty-list {
			display: block;
			color: #999;
		}
	}
}

.separator {
	border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

