<div class="cp-panel">
	<div class="cp-panel-header">
		<div class="row">
			<div class="col-sm-5">
				<h3>{{title}}</h3>
				<div class="subtitle">{{subtitle}}</div>
			</div>
			<div class="col-sm-7 cp-actions">
				<div class="cp-btn pull-right">
					<span class="icon-plus"></span>
				</div>
				<div class="input-group iconed pull-right">
					<input type="text" class="form-control" placeholder="search">
					<i class="icon-search"></i>
				</div>
			</div>
		</div>
	</div>
	<div class="cp-panel-content table"></div>
</div>