<div class="content-wrapper" style="margin-top: 4%;margin-left: 100px;">
        <section class="content">
			<div class="row">
				{{> molecules/dashboard_row}}
			</div> 
		  </section>
      </div>